body {
    background-color: #96d9f4;
}

.list-articles {
    margin: 30px;
    display: flex;
}


.img_header {
    /*position:relative;*/
    width: 100%;
}
.admin-article-table {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.admin_image{

    width:50px;
}

td{ border:solid black}
tr {
    border:solid black;
}

.adminh1{
    text-align: center;
}
.success-message{
    font-size: xx-large;
    color:#52110D;
    text-shadow: #FC0 1px 0 10px;
}